<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grnboy.osojicklist" >

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name = "android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name = "com.google.android.gms.version"
            android:value = "@integer/google_play_services_version" />
        <activity
            android:name="com.grnboy.osojicklist.Top"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grnboy.osojicklist.PlaceList"
            android:label="@string/title_activity_place_list" >
        </activity>
        <activity
            android:name="com.grnboy.osojicklist.Guide0001"
            android:label="@string/title_activity_guide0001" >
        </activity>
        <activity
            android:name="com.grnboy.osojicklist.Complete"
            android:label="@string/title_activity_complete"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
